<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fly.druid.BusinessLogMapper">
    <resultMap id="BaseResultMap" type="com.fly.druid.BusinessLog">
        <!--@Table business_log-->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="ua" jdbcType="VARCHAR" property="ua"/>
        <result column="operation" jdbcType="VARCHAR" property="operation"/>
        <result column="request_param" jdbcType="LONGVARCHAR" property="requestParam"/>
        <result column="ip" jdbcType="VARCHAR" property="ip"/>
        <result column="create_time" jdbcType="VARCHAR" property="createTime"/>
        <result column="desciption" jdbcType="VARCHAR" property="desciption"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, user_name, user_id, ua, `operation`, request_param, ip, create_time, desciption
    </sql>
</mapper>