<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fly.mybatis.demo.SysUserMapper">
    <resultMap id="BaseResultMap" type="com.fly.mybatis.demo.SysUser">
        <!--@Table sys_user-->
        <id column="sys_id" jdbcType="INTEGER" property="sysId"/>
        <result column="sys_name" jdbcType="VARCHAR" property="sysName"/>
        <result column="sys_age" jdbcType="TINYINT" property="sysAge"/>
        <result column="sex_enum" jdbcType="VARCHAR" property="sexEnum"/>
        <result column="ext_json" jdbcType="OTHER" property="extJson"/>
    </resultMap>
    <sql id="Base_Column_List">
        sys_id, sys_name, sys_age, sex_enum, ext_json
    </sql>
</mapper>